<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sobre nos</title>
    <link rel="stylesheet" href="~/Home/assetsSobreNos/bootstrap/css/bootstrap.min.css?h=f97edfb95cc244ac21d0dd27c2e68a98">
    <link rel="stylesheet" href="~/Home/assetsSobreNos/fonts/font-awesome.min.css?h=ae3734760093b2251f9e2a79dadbb152">
    <link rel="stylesheet" href="~/Home/assetsSobreNos/css/styles.css?h=d41d8cd98f00b204e9800998ecf8427e">
    <link rel="stylesheet" href="~/Home/assetsSobreNos/css/Team-with-rotating-cards.css?h=f53d22b660c53248ec6c03b0cf77b0f1">
</head>

<body>


    <section class="card-section-imagia">
        <h1 style="left:50%;">EQUIPE PETZONE</h1>
        <h2>Desenvolvedores da plataforma</h2>
        <div class="container" id="card">
            <div class="row">
                
                <div class="col-md-6 col-lg-6" style="padding-left:150px;">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://images.unsplash.com/photo-1456926631375-92c8ce872def?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGFuaW1hbHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="~/images/INTEGRANTES/Alessandro.png"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia" style="color:black">Alessandro Dias</h3>
                                    <br />
                                    <p class="text-center" style="color:black"><em>Estudante da Etec Comendador João Rays, adorador de animais, atualmente pai e marido, morador de Igaraçu do tietê. "Preservo muito o tempo com a família".</em></p>
                                </div>
                                <div class="footer-imagia" style="color:black"><span><i class="fa fa-plus"></i> Mais Informações</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center" style="color:black">Relação com o PetZone:</h3>
                                        <p class="text-center" style="color:black">Meu propósito para contribuir com o site foi atuando na parte escrita do projeto, ou seja, na documentação da plataforma em si e na produção textual das páginas.</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://www.facebook.com/alessandro.mide"><i class="fa fa-facebook"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
               
              

                
                
                    <div class="card-container-imagia">
                        <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="~/images/INTEGRANTES/JeanFundo.png"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="~/images/INTEGRANTES/Jean.png"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia" style="color:black">Jean Santos</h3>
                                    <br />
                                    <p class="text-center" style="color:black"><em>18 anos, Igaraçuense técnico em informática e administração, apaixonado por animais, pelo mundo da arte, músicas, filmes e séries. "Meu maior sonho é que os animais não sofram mais com as ações inescrúpulas dos seres humanos."</em></p>
                                </div>
                                <div class="footer-imagia" style="color:black"><span><i class="fa fa-plus"></i> Mais Informações</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center" style="color:black">Relação com o PetZone:</h3>
                                        <p class="text-center" style="color:black">Minha parte durante o desenvolvimento do PetZone envolve desde a apresentação e concordância do tema que norteou a criação do software, até a questão de pesquisas para a produção de textos usados na plataforma e para a documentação pertencente ao website.  </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://www.facebook.com/jean.santos.71868"><i class="fa fa-facebook"></i></a><a href="https://www.instagram.com/jeanmarc931/"><i class="fa fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                
                 <div class="col-md-6 col-lg-6">
                   <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://images.unsplash.com/photo-1580137189272-c9379f8864fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="~/images/INTEGRANTES/CarlosII.png"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia" style="color:black">Carlos Cunha</h3>
                                    <br />
                                    <p class="text-center" style="color:black"><em>Estudante da área de tecnologia, 18 anos, igaraçuense, técnico de informática e adorador de pets. “Ao invés de maltratar e abandonar, de carinho, atenção e principalmente amor, pois animais também são gente”.</em></p>
                                </div>
                                <div class="footer-imagia" style="color:black"><span><i class="fa fa-plus"></i> Mais Informações</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center" style="color:black">Relação com o PetZone:</h3>
                                        <p class="text-center" style="color:black">Minha parte durante o desenvolvimento do PetZone envolve a concordância do tema que norteou a criação do software, a contribuição durante a escrita textual da plataforma e a programação do front-end e back-end (páginas e codificação de funcionalidades do sistema).</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://www.facebook.com/profile.php?id=100008022455610"><i class="fa fa-facebook"></i></a><a href="https://www.instagram.com/carlos_cunha016/"><i class="fa fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>


                
               
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://images.unsplash.com/photo-1554298819-74ec8c6acac6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="~/images/INTEGRANTES/Kauan.png"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia" style="color:black">Kauan Santos</h3>
                                    <br />
                                    <p class="text-center" style="color:black"><em>Estudante da Etec Comendador João Rays, morador de Igaraçu do Tietê. "Gosto muito de animais e tento buscar uma solução para ajudar aqueles que estão abandonados, sempre que puder".</em></p>
                                </div>
                                <div class="footer-imagia" style="color:black"><span><i class="fa fa-plus"></i> Mais Informações</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center" style="color:black">Relação com o PetZone:</h3>
                                        <p class="text-center" style="color:black">Em relação ao projeto, minha função na criação da plataforma foi idealizar o designe das páginas e auxiliar no desenvolvimento do front end. Nunca pude resgatar os animais abandonados nas ruas por questões financeiras, mas se o PetZone puder ao menos amenizar, já fará uma grande diferença.</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="https://www.instagram.com/kauanrodrigessant/"><i class="fa fa-instagram"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Home/assetsSobreNos/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a"></script>
</body>

</html>