<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="~/Home/assetsTermos/bootstrap/css/bootstrap.min.css?h=9931bd4205a15b3d0c83f3da1a88550e">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="~/Home/assetsTermos/fonts/font-awesome.min.css?h=ae3734760093b2251f9e2a79dadbb152">
    <link rel="stylesheet" href="~/Home/assetsTermos/css/Profile-Card.css?h=2714f802754a3ffb1dea71c2e4493c3f">
    <link rel="stylesheet" href="~/Home/assetsTermos/css/styles.css?h=d41d8cd98f00b204e9800998ecf8427e">
</head>

<body>
    <div class="container"><div class="profile-card col-lg-12 col-md-8 col-sm-5">
        <div id="corpo">
        <div class="profile-back"></div><img id="image" class="rounded-circle profile-pic" src="~/images/Logo.png">
        <h3 class="profile-name">Termos e Regras</h3>
        <p class="profile-bio">  <!-- Introdução-->
    <region>
    TERMOS DE USO DO PETZONE<br>
    Bem-vindo (a)! Obrigado por utilizar o PetZone!<br> <br>
    Esta aplicação e seu conteúdo (“PetZone”) são controlados e operados pelo próprio PetZone. <b> Todos os direitos reservados.</b><br> <br>
    Estes termos de uso têm por objetivo definir as regras a serem seguidas para a utilização do PetZone (“Termos de Uso”), sem prejuízo da aplicação da legislação vigente.<br> <br>
    <b>AO UTILIZAR O PETZONE, VOCÊ AUTOMATICAMENTE CONCORDA COM ESTES TERMOS DE USO, RESPONSABILIZANDO-SE INTREGALMENTE POR TODOS E QUAISQUER ATOS PRATICADOS POR VOCÊ NO PETZONE OU EM QUALQUER DOS TERMOS E CONDIÇÕES ABAIXO ESTABELECIDOS.</b> <br> <br>
    Caso queira nos dar algum feedback sobre o PetZone, tenha dúvidas ou precise tratar de qualquer assunto relacionamento a estes Termos de Uso, entre em contado conosco através do e-mail: petzone.etec1500@gmail.com. <br> <br>
    <br>
    </region>
    

    <!-- 1. O Que É O Petzone -->
    <region>
    <b>1.	O QUE É O PETZONE? </b> 
    <br>
    <br>
    <b>1.1.	Serviços. </b> O PetZone é uma plataforma que oferece os seguintes serviços: interação entre usuários, adoção de pets por meio de uma ficha de adoção, informa sobre curiosidades sobre animais domésticos e algumas legislações, assim como possibilita postagens sobre animais abandonados e encontrados ou pets que, por algum motivo, seus donos não podem cuidar mais. <br> <br>
    <b>1.2.	Suspensão.</b> Nós nos reservamos o direito de suspender ou cancelar, a qualquer momento, o seu acesso à aplicação em caso de suspeita de fraude e obtenção de benefício ou vantagem de forma ilícita, ou pelo não cumprimento de quaisquer condições previstas nestes Termos de Uso. Nesses casos, não será devida qualquer indenização a você, e o PetZone poderá promover a competente ação de regresso, se necessário, bem como tomar quaisquer outras medidas necessárias para perseguir e resguardar seus interesses. <br> <br>
    <br>
    </region>

    <!-- 2. Como Acesso O Petzone -->
    <region>
    <b>2.	COMO ACESSO O PETZONE?</b> 
    <br>
    <br>
    <b>2.1.	Acesso.</b> Para acessar o PetZone e utilizar suas funcionalidades é necessário efetuar um cadastro. Para cadastrar-se, vice nos fornecerá informações pessoais. <br> <br>
    <b>2.2.	Idade de Utilização.</b> Para utilizar o PetZone, você deve ter pelo menos 18 (dezoito) anos. <br> <br>
    <b>2.3.	Titularidade.</b> A partir do cadastro, você será titular de uma conta que somente poderá ser acessada por você. Caso o PetZone detecte alguma conta feita a partir de informações falsas, por usuários que, por exemplo, não possuem a idade mínima permitida, essa conta será automaticamente deletada. <br> <br>
    <b>2.4.	Atualização das Informações.</b> Desde já, você se compromete a manter as suas informações pessoais atualizadas. Você também concorda que irá manter o seu login e senha seguros e fora do alcance de terceiros, e não permitirá que a sua conta no PetZone seja usada por outras pessoas. Dessa forma, o usuário responsabiliza-se por todas as ações realizadas em sua conta. <br><br>
    <br>
    </region>
    
    <!-- 3. Direitos do Petzone sobre a aplicação -->
    <region> 
    <b>3.	QUAIS SÃO OS DIREITOS DO PETZONE SOBRE A APLICAÇÃO?</b
    ><br>
    <br>
    <b>3.1 Nossos Direitos.</b> Todos os direitos relativos ao PetZone e suas funcionalidades são de propriedade exclusiva do PetZone, inclusive no que diz respeito aos sus textos, imagens, layouts, software, códigos, fotografias e demais conteúdos produzidos direta ou indiretamente pelo PetZone (“Conteúdo do PetZone”). O conteúdo do PetZone é protegido pela lei de direitos autorais e de propriedade intelectual. É proibido usar, copiar, reproduzir, modificar, traduzir, publicar, transmitir, distribuir, executar, fazer upload, exibir, licenciar, vender ou explorar e fazer engenharia reversa do Conteúdo do PetZone, para qualquer finalidade, sem o consentimento prévio e expresso do PetZone. Qualquer uso não autorizado do conteúdo, será considerado como violação dos direitos autorais e de propriedade intelectual do PetZone. <br> <br>
    </region>

    <!--4. PROPRIEDADE INTELECTUAL SOBRE O SOFTWARE E OS MATERIAIS DISPONIBILIZADOS -->
    <region>
      <b>4. PROPRIEDADE INTELECTUAL SOBRE O SOFTWARE E OS MATERIAIS DISPONIBILIZADOS</b> 
    <br>
    <br>
    <b>4.1. Propriedade Intelectual.</b> Para nós do PetZone, a qualidade dos materiais disponibilizados ao usuário é de suma importância. A criação deles é fruto de muito trabalho e dedicação de nossos desenvolvedores. Por isso, reafirmamos que o PetZone garante que todos os direitos, título e interesse sobre o serviço disponibilizado por nós permanecerão sob a titularidade do PetZone. <br> <br>
    <b>4.2. Download de Conteúdo.</b> É proibido que o usuário faça o download de nosso conteúdo com o intuito de armazená-lo em banco de dados para oferecer para terceiro que não seja o próprio usuário. Veda-se, também, que o conteúdo disponibilizado por nós seja usado para criar uma base de dados ou um serviço que possa concorrer de qualquer maneira com o nosso negócio. <br> <br>
    <br>  
    </region>
    
    <!-- 5. RESPONSIBILIDADES DO USUÁRIO E DO PETZONE -->
    <region>
    <b>5. RESPONSIBILIDADES DO USUÁRIO E DO PETZONE</b> 
    <br>
    <br>
    <b>5.1. Responsabilidade pelo Uso.</b> Você é exclusivamente responsável pelo uso do PetZone e deverá respeitar as regras destes Termos de Uso, bem como a legislação aplicável ao PetZone. <br> <br>
    <b>5.2. Responsabilização por Eventuais Danos.</b> O PetZone não será, em hipótese alguma, responsabilizados por danos diretos ou indiretos que resultem de, ou que tenham relação com o acesso, uso ou a incapacidade de acessar ou utilizar o PetZone. <br> <br>
    <b>5.3. Não-Responsabilização.  TENDO EM VISTA AS CARACTERÍSTICAS INERENTES AO AMBIENTE DA INTERNET, O PETZONE NÃO SE RESPONSABILIZA POR INTERRUPÇÕES OU SUSPENSÕES DE CONEXÃO, TRANSMISSÕES DE COMPUTADOR INCOMPLETAS OU QUE FALHEM, BEM COMO POR FALHA TÉCNICA DE QUALQUER TIPO, INCLUINDO, MAS NÃO SE LIMITANDO, AO MAU FUNCIONAMENTO ELETRÔNICO DE QUALQUER REDE, HARDWARE OU SOFTWARE, A INDISPONIBILIDADE DE ACESSO À INTERNET  OU AO PETZONE, ASSIM COMO QUALQUER INFORMAÇÃO INCORRETA OU INCOMPLETA SOBRE O PETZONE E QUALQUER FALHA HUMANA, TÉCNICA OU DE QUALQUER OUTRO TIPO NO PROCESSAMENTO DAS INFORMAÇÕES DO PETZONE NÃO SERÃO CONSIDERADAS RESPONSABILIDADE DO PETZONE, O PETZONE SE EXIME DE QUALQUER RESPONSABILIDADE PROVENIENTE DE TAIS FATOS E/OU ATOS.</b> <br> <br>
    <b>5.4. Manutenção.</b> É de sua inteira responsabilidade manter o ambiente de seu dispositivo (computador, celular, tablete, entre outros) seguro, com o uso de ferramentas disponíveis, como antivírus, firewall, entre outras, de modo a contribuir na prevenção de riscos eletrônicos. <br><br>
    <b>5.5. Links Externos.</b> É possível que o PetZone possa conter links para sites e aplicativos de terceiros, assim como ter tecnologias integradas. Isso não implica, de maneira alguma, que o PetZone endossa, verifica, garante ou possui qualquer ligação com os proprietários desses sites ou aplicativos, não sendo responsável pelo seu conteúdo, precisão, políticas, práticas ou opiniões. O PetZone recomenda que você leia os termos de uso e políticas de privacidade de cada site de terceiros ou serviço que o usuário vier a visitar ou utilizar. <br> <br>
    <br>
    </region>
    
    <!-- 6. COMO O PETZONE LIDA COM O CONTEÚDO QUE VOCÊ E OUTROS USUÁRIOS PRODUZEM? -->
    <region>
    <b>6. COMO O PETZONE LIDA COM O CONTEÚDO QUE VOCÊ E OUTROS USUÁRIOS PRODUZEM? </b>
    <br>
    <br>
    <b> 6.1. Criação de Conteúdo. </b> O PetZone poderá a seu exclusivo critério, permitir que você ou qualquer outro usuário apresente, carregue, publique ou disponibilize, na aplicação, conteúdo ou informações de texto, imagem, áudio ou vídeo (“<b>Conteúdo de Usuário</b> ”). <br><br>
    <b>6.2. Conteúdos Proibidos.</b> É proibido qualquer Conteúdo de Usuário de caráter difamatório, calunioso, injurioso, violento, pornográfico, obsceno, ofensivo ou ilícito, conforme apuração do PetZone a seu critério exclusivo, inclusive informações de propriedade exclusiva pertencentes a outras pessoas ou empresas (ex. direito de autor, marcas), sem a expressa autorização do titular desses direitos, cuja violação não será responsabilidade do PetZone. <br> <br>
    <b>6.3. Titularidade do Conteúdo.</b> Qualquer Conteúdo de Usuário fornecido por você permanece de sua propriedade. Contudo, ao fornecê-lo para o PetZone, você nos outorga uma licença em nível mundial, por prazo indeterminado, gratuita e transferível, e com direito a sublicenciar, usar, copiar, modificar, criar obras derivadas, distribuir, publicar, exibir esse Conteúdo de Usuário em todos os formatos e canais de distribuição possíveis, sem necessidade de qualquer pagamento, desde que isso esteja relacionado ao funcionamento da plataforma. <br> <br>
    <b>6.4. Exclusão do Conteúdo.</b> O PetZone poderá, mas não se obriga a, analisar, monitorar e remover Conteúdo de Usuário, a critério exclusivo do PetZone, a qualquer momento e por qualquer motivo, sem nenhum aviso a você. <br> <br>
    <br>
    </region>
    
    
    <!-- 7. O QUE MAIS EU PRECISO SABER SOBRE ESTES TERMOS DE USO? -->
    <region>
    </region>7. O QUE MAIS EU PRECISO SABER SOBRE ESTES TERMOS DE USO?</b> 
    <br>
    <br>
    <b>7.1. Alterações.</b> Para melhorar sua experiência, O PetZone está sempre sendo atualizado. Por esse motivo, estes Termos de Uso podem ser alterados, a qualquer tempo, a fim de refletir os ajustes realizados. No entanto, sempre que ocorrer qualquer modificação, você será previamente informando pelo endereço de e-mail fornecido por você no momento do cadastro ou por um aviso em destaque na aplicação. Caso você não concorde com os novos Termos de Uso, você poderá rejeitá-los, mas, infelizmente, isso significa que você não poderá mais ter acesso e fazer uso do PetZone. Se de qualquer maneira você utilizar o PetZone mesmo após a alteração destes Termos de Uso, isso significa que <b>você concorda com todas as modificações.</b> <br> <br>
    <b>7.2. Conflito entre Disposições. Em caso de conflito entre estes termos e os termos modificador, os termos posteriores prevalecerão com relação a esse conflito.</b> <br> <br>
    <b>7.3. Dúvidas.</b> Caso você tenha alguma dúvida, comentário ou sugestão, por favor, entre em contato conosco por meio do e-mail petzone.etec1500@gmail.com. <br>

    </region>
    </p>
        </div>    
    </div>
    </div>
    <script src="~/Home/assetsTermos/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a"></script>
</body>

</html>