@model PetZone.Models.Especie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
body{
     background: linear-gradient(to right, rgb(255,255,255), rgb(26,206,156));
}
</style>

<h1>Deletar Espécie</h1>

<h3>Você tem certeza que deseja deleter isso?</h3>
<div>
    <h4>Especie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EspecieId" />
        <br />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar para Página de Espécies</a>
    </form>
</div>
